@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    height: 70px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

nav ul{
    list-style: none;
}

.game-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Montserrat', sans-serif;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover{
    background-color: rgb(250, 221, 211);
}

.game-info{
    padding: 0 40px;
}

.game-info h1{
    font-size: 2.5rem;
}

.info{
    font-size: 25px;
}

.imgbox img{
    width: 0px;
    transition: width 1s ease-in-out;
}

#reset{
    margin: 15px 25px;
    padding: 8px 20px;
    background-color: rgb(250, 221, 211);
    color: black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid black;
}

.br-0{
    border-right: 0px;
}

.bl-0{
    border-left: 0px;
}

.bt-0{
    border-top: 0px;
}

.bb-0{
    border-bottom: 0px;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 900px) {
    .game-container{
        flex-wrap: wrap;
    }

    .game-info{
        margin-top: 40px;
    }

    .game-info h1{
        font-size: 1.5rem;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3,10vw);
        grid-template-rows: repeat(3,10vw);
        font-family: 'Montserrat', sans-serif;
    }

    .box{
        font-size: 8vw;
    }
}
